*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Inter";
}
#menu-superior{
    background-color: #303030;
}
#titulo-menu-superior{
    margin-left: 50px;
    padding-top: 50px;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -1px;
    color: #FFFFFF;
}
#legenda-menu-superior{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
    padding-bottom: 100px;
    color: #FFFFFF;
}
#menu-informacional{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 50px;
    background-color: #EAECE5;
}
.numero-info{
    font-weight: 600;
    font-size: 40px;
}
.info{
    font-weight: 400;
    font-size: 20px;
}
.info, .numero-info{
    margin-left: 150px;
}
#secao-historia{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    background-color: #FFF;
    padding-bottom: 50px;
    align-items:center;
    
}
#titulo-secao-historia{
    margin-top: 50px;
    margin-left: 50px;
    font-weight: 500;
    font-size: 40px;
}
#legenda-secao-historia{
    margin-left: 50px;
    padding-top: 20px;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    width: 735px;
    height: 161px;
}
#imagem1{
    margin-top: 100px;
    width: 380px;
}
#formulario{
    text-align: center;
    background-color: #303030;
    padding-bottom: 30px;
}
#tituloformulario{
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 40px;
}
input{
    width: 300px;
    height: 40px; 
    background-color: #FFFFFF; 
    border-radius: 5px;
    margin: 15px;
    border: 0px;
    padding-left: 20px;
}
button{
    width: 256px;
    height: 40px;
    border-radius: 5px;
    background-color: #C07212;
    color: #FFF;
    margin-top: 20px;
    cursor: pointer;
    border: 0;
}
button:hover{
    background-color: #ff8c008c;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #05103081 ;
    transition-duration: 0.5s;
}